<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/Main.css">
  <title>YouTube to MP3 Downloader</title>
</head>
<body class="bd-colors">
  <h1>YouTube to MP3 Downloader</h1>
  <form action="/download" method="post">
    <label for="videoUrl">Enter YouTube URL:</label>
    <input type="text" name="videoUrl" id="videoUrl" required>
    <button type="submit">Download MP3</button>
  </form>
</body>
</html>
